body{
    background-color: rgb(179, 177, 177);
}

#container-1, #container-2 {
    background-color: white;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.card-bory {
    padding: 5px 10px;
}

#form-control {
    margin-bottom: 10px;
}